/* html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html{
    padding: 1em
}  */
/* 
body{
    
    font-family: Garamond, serif;
    font-size: 24px;
    margin-top: 5px;
    background-color: #69B9E0;
    
}

 */
