{% extends 'base.html' %} {% block content %}

<h1>Random Questions Quiz</h1>

<div class="card m-4 shadow">
  <div class="card-body">
    <form action="../get_results/" method="post">
      {% csrf_token %}
      {% for question in questions %}
      <br />
      <h3>{{ question.text }}</h3>
      {% for choice in question.choices.all %}
      <input
        type="radio"
        name="{{ question.text }}"
        value="{{ choice.id }}"
        id="question1a"
      />
      {{ choice.text }}
      <br />

      {% endfor %} {% endfor %}
      <div class="d-grid col-6 mx-auto my-2">
        {% comment %} <a class="btn btn-primary" href="../results/{{}}" role="button">Results</a> {% endcomment %}
        <button>Submit</button>
      </div>
    </form>
  </div>
  <br />
</div>
{% endblock content %}
