{% extends 'base.html' %} {% block content %}

<h1>Random Questions Quiz</h1>

<div class="card m-4 shadow">
  <div class="card-body">
    <form action="" method="post">
      {% for question in questions %}
      <br />
      <h3>{{ question.text }}</h3>
      {% for choice in question.choices.all %}
      <input
        type="radio"
        name="questions {{ question }}"
        value="{{ choice.text }}"
        id="question1a"
      />
      {{ choice.text }}
      <br />

      {% endfor %} {% endfor %}
      <div class="d-grid col-6 mx-auto my-2">
        <a class="btn btn-primary" role="button">Results</a>
      </div>
    </form>
  </div>
  <br />
</div>
{% endblock content %}
